.btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 5rem;
}

.btnPrimary {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #EF9529;
  color: black;
  font-size: 1.25rem;
  padding: 0.4rem 0.8rem;
  height: 2.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  font-weight: 800;
  text-decoration: none;
  border-radius: 0.5rem;
}

.btnPrimary:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 100px inset rgba(255, 255, 255, 0.115);
          box-shadow: 0px 0px 100px inset rgba(255, 255, 255, 0.115);
}

.btnPrimary:focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 100px inset rgba(0, 0, 0, 0.115);
          box-shadow: 0px 0px 100px inset rgba(0, 0, 0, 0.115);
}

.btnBar {
  margin-left: 1rem;
}

.btnSecondary {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #EF9529;
  color: #EF9529;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  height: 2rem;
  font-weight: 400;
  text-decoration: none;
  border-radius: 0.5rem;
  margin: 0.1rem 0.25rem;
}

.btnIcon {
  height: 4rem;
  margin-right: 1rem;
}

.textInput {
  background-color: #3A7859;
  color: white;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  border: none;
  display: block;
}

.textInput::-webkit-input-placeholder {
  color: white;
}

.textInput:-ms-input-placeholder {
  color: white;
}

.textInput::-ms-input-placeholder {
  color: white;
}

.textInput::placeholder {
  color: white;
}

.textBox {
  font-size: 1.25rem;
  background-color: #3A7859;
  color: white;
  height: 10rem;
  resize: none;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  border: none;
  display: block;
}

.textBox::-webkit-input-placeholder {
  color: white;
}

.textBox:-ms-input-placeholder {
  color: white;
}

.textBox::-ms-input-placeholder {
  color: white;
}

.textBox::placeholder {
  color: white;
}

.loginForm {
  height: 150%;
  background-color: #093E31;
  padding: 2rem;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginForm .innerLoginForm {
  width: 100%;
  height: 100%;
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.loginForm .innerLoginForm label {
  width: 100%;
  color: white;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.loginForm h1 {
  color: white;
  margin-bottom: 2rem;
}

.loginForm h3 {
  color: white;
  margin-top: 1rem;
}

.loginForm input {
  width: 100%;
  min-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.loginForm textarea {
  width: 100%;
  min-height: 200px;
  margin-top: 0.5rem;
}

.loginForm button {
  margin-top: 1rem;
  width: 15rem;
}

.dropdown {
  margin-bottom: 1rem;
  position: relative;
  font-size: 1.25rem;
}

.dropdown .dropdownInput {
  background-color: #3A7859;
  color: white;
  font-size: 1.25rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  margin: none;
  border: none;
  display: block;
}

.dropdown .dropdownInput::-webkit-input-placeholder {
  color: white;
}

.dropdown .dropdownInput:-ms-input-placeholder {
  color: white;
}

.dropdown .dropdownInput::-ms-input-placeholder {
  color: white;
}

.dropdown .dropdownInput::placeholder {
  color: white;
}

.dropdown .dropdownWrapper {
  position: absolute;
  margin-top: -0.4rem;
  z-index: 2;
  background-color: #3A7859;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.dropdown .dropdownWrapper .dropdownContent {
  margin-top: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: none;
}

.dropdown .dropdownWrapper .dropdownContent .dropdownItem {
  padding: 0.75rem;
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  width: 100%;
  color: white;
}

.dropdown .dropdownWrapper .dropdownContent .dropdownItem:hover {
  -webkit-box-shadow: inset 0px 0px 30rem rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 30rem rgba(0, 0, 0, 0.3);
}

.dropdown .dropdownWrapper .dropdownContent .dropdownItem:focus {
  -webkit-box-shadow: inset 0px 0px 30rem rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 30rem rgba(0, 0, 0, 0.3);
}

.dropdown .dropdownWrapper .dropdownContent .dropdownItem:last-of-type {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.tags {
  z-index: 6;
  font-size: 1.25rem;
  position: relative;
}

.tags .tagsList {
  height: 2.5rem;
  width: 100%;
  background-color: #3A7859;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  margin: none;
  border: none;
  display: block;
}

.tags .tagsList::-webkit-input-placeholder {
  color: white;
}

.tags .tagsList:-ms-input-placeholder {
  color: white;
}

.tags .tagsList::-ms-input-placeholder {
  color: white;
}

.tags .tagsList::placeholder {
  color: white;
}

.tags .tagsWrapper {
  width: 100%;
  top: 2rem;
  position: absolute;
  z-index: 10;
  background-color: #3A7859;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.tags .tagsWrapper .tagsContent {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: none;
}

.tags .tagsWrapper .tagsContent .tagsItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0rem;
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
  color: white;
}

.tags .tagsWrapper .tagsContent .tagsItem input {
  margin-top: auto;
  margin-bottom: auto;
  width: 1rem;
  margin-left: auto;
  margin-right: 1rem;
}

.tags .tagsWrapper .tagsContent .tagsItem:hover {
  -webkit-box-shadow: inset 0px 0px 30rem rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 30rem rgba(0, 0, 0, 0.3);
}

.tags .tagsWrapper .tagsContent .tagsItem:focus {
  -webkit-box-shadow: inset 0px 0px 30rem rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 30rem rgba(0, 0, 0, 0.3);
}

.tags .tagsWrapper .tagsContent .tagsItem:last-of-type {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-bottom: 0.8rem;
}

.sortBar {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 700;
}

.sortBar select {
  width: 10rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.hidden {
  display: none;
}

.search {
  width: 100%;
}

.search input {
  width: 100%;
}

.search div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.search div:last-of-type button {
  margin-left: 1rem;
  width: 40%;
}

.newComment {
  width: 100%;
  background-color: white;
  padding: 1rem;
}

.newComment .text {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.newComment .textArea {
  width: 100%;
  resize: none;
  height: 5rem;
}

.newComment .scoreInput {
  margin-left: auto;
  width: 108px;
  margin-bottom: 1rem;
  position: relative;
}

.newComment .scoreInput .scale {
  position: absolute;
  width: 108px;
  height: 20px;
  opacity: 0;
}

.newComment .scoreInput .starsWrapper {
  pointer-events: none;
  position: relative;
  width: 108px;
  height: 20px;
  overflow: hidden;
}
/*# sourceMappingURL=form.module.css.map */