$dark-green: #093E31;
$light-green: #3A7859;
$dark-blue: #299798;
$light-blue: #BCF5E7;
$dark-orange: #EF9529;
$light-orange: #F7E044;

.header{
    position: relative;
    background-color: $dark-green;
    width: 100%;
    padding-bottom: 6rem !important;
}

.headline{
    color: white;
    display: flex;
    margin-bottom: 1rem;
    align-items: flex-end;
}

.icon{
    width: 6rem;
    height: 6rem;
    margin-top: -1.5rem;
    object-fit: cover;
    object-position: 50% 100%;
}

.divider{
    position: absolute;
    object-position: bottom left;
    object-fit: cover;
    width: 100%;
    height: 8rem;
    bottom: 0px;
    left: 0px;
    right: 0px;
    pointer-events: none;
}

main{
    background-color: $light-blue;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    row-gap: 1rem;
    padding: 0.5rem;
    margin-left: -0.5rem;
    column-gap: 1rem;

}

.card{
    width: 100%;
    position: relative;
    height: 18rem;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.164);
    transition: transform 0.5s;
    &:hover{
        transform: rotateZ(2deg);
    }
    .cardImg{
        background-color: rgb(255, 191, 191);
        height: 60%;
    }
    .cardTitle{
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }
    .cardDesc{
        padding-left: 0.5rem;
        font-size: 0.9rem;
    }
    .cardInfoBar{
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;
        align-items: baseline;
        height: 2rem;
        width: 100%;
        position: absolute;
        bottom: 0px;
        .cardPrice{
            font-size: 0.7rem;
            font-weight: 700;
        }
        .cardScoreWrapper{
            position: relative;
            width: 64px;
            height: 12px;
            overflow: hidden;
        }
    }
    button{
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}
@media only screen and (min-width: 500px) {
    .grid{
        grid-template-columns: repeat(2, 50%);
    }
  }

@media only screen and (min-width: 860px) {
    .grid{
        grid-template-columns: repeat(3, 33.333333333333%);
    }
  }

@media only screen and (min-width: 1080px) {
    .grid{
        grid-template-columns: repeat(4, 25%);
    }
}