$dark-green: #093E31;
$light-green: #3A7859;
$dark-blue: #299798;
$light-blue: #BCF5E7;
$dark-orange: #EF9529;
$light-orange: #F7E044;

header{
    position: relative;
    background-color: $dark-green;
    width: 100%;
    padding-bottom: 8rem !important;
}


.headline{
    display: flex;
    margin-bottom: 3rem;
    align-items: flex-end;
}

h2{
    color: white;
}

.icon{
    width: 6rem;
    height: 6rem;
    margin-top: -1.5rem;
    object-fit: cover;
    object-position: 50% 100%;
}

.divider{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    pointer-events: none;
}

main{
    background-color: $light-blue;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 1rem;
    padding: 0.5rem;
    margin-left: -0.5rem;
    column-gap: 1rem;

}


.card{
    width: 100%;
    position: relative;
    height: 18rem;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.164);
    .cardImg{
        background-color: rgb(255, 191, 191);
        height: 60%;
    }
    .cardTitle{
        padding-top: 0.5rem;
    }
    .cardDesc{
        font-size: 0.9rem;
    }
    .cardInfoBar{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        height: 2rem;
        width: 100%;
        position: absolute;
        bottom: 0px;
        .cardPrice{
            font-weight: 700;
        }
        .cardScoreWrapper{
            position: relative;
            width: 97.2px;
            height: 18px;
            overflow: hidden;
            .cardScore{
                position: absolute;
                object-position: left;
                height: 100%;
            }
        }
    }
    button{
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}